
<!DOCTYPE html>
<#assign base=rc.contextPath />
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--min.js 不含工具栏-->
    <!--<script src="/js/echarts/echarts.min.js" type="text/javascript"></script>-->
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/4.8.0/echarts.js"></script>
    <title>Title</title>
</head>
<body>
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<div id="main" style="width: 600px;height:400px;"></div>

<script type="text/javascript">
    var url = window.location.origin;
    console.log(url+'/echarts/img/icon_sj.png')
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var option = {
        graphic: [{
            type: 'group',//group 是唯一的可以有子节点的容器。group 可以用来整体定位一组图形元素。
            id: 'yearId',
            right: '13%',
            top: '1%',
            bounding: 'all',//决定此图形元素在定位时，对自身的包围盒计算方式。
            z: 90,
            width: '10%',
            height: 115,
            invisible:false,//是否可见
            cursor : 'pointer',
            onclick:function () {
                alert("123")
            },
            children: [
                {
                    type: 'image',
                    z: 100,
                    right:0,
                    style: {
                        image:url+'/echarts/img/icon_sj.png',
                        width: 15,
                        height: 15
                    }

                },
                {
                    type: 'text',
                    z: 100,
                    top: '1%',
                    left: 0,
                    style: {
                        fill:'#c9ecdd',
                        text: [
                            '2019'
                        ].join('\n'),
                        font:'caption'
                    }
                }
            ]
        }],
        color:['#a4c6fa','#8bd5f2'],
        title : {
            text: '实际金额（万）',
            textStyle:{
                color :'#3e9f90'
            }
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:[{
                name:'实际垫付金额',
                textStyle: {
                    width:50,
                    fontSize : 12
                }
            },{
                name:'实际拨付金额',
                textStyle: {
                }
            }],
            width:155,
            itemWidth : 15,//图例标记的图形宽度。
            itemGap : 60,//图例每项之间的间隔。横向布局时为水平间隔，纵向布局时为纵向间隔。
            icon:'rect',//图标样式
            formatter: function (name) {//提示文字以及样式
                return echarts.format.truncateText(name, 40, '14px Microsoft Yahei', '…');
            },
            tooltip: {//提示文字
                show: true
            },
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                name:'横坐标名称',
                boundaryGap : false,
                data : ['一月','二月','三月','四月','五月','六月','七月'],
                axisLabel:{
                    color:'#48ff44'
                }
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'实际垫付金额',
                type:'line',
                smooth:true,//是否平滑曲线显示。
                itemStyle: {//折线拐点标志的样式。
                    //  color:'#69af1e',
                    normal: {
                        areaStyle:{//区域填充
                            origin : 'auto'
                        },
                    }
                },
                data:[10, 12, 21, 54, 260, 830, 710],
                lineStyle:{//线条样式。
                    type:'solid',
                    normal:{
                        width:1
                    }
                }
            },
            {
                name:'实际拨付金额',
                type:'line',
                smooth:true,
                lineStyle:{
                    width:1
                },
                itemStyle: {
                    normal: {
                        areaStyle: {
                        }
                    }
                },
                data:[30, 182, 434, 791, 390, 30, 10]
            }
        ],
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>
</html>